<app-navigation-bar></app-navigation-bar>
<div class="mx-5 mt-2">
  <div class="mb-4">
    <h2>Authors List</h2>
  </div>

  <form [formGroup]="filterForm" (ngSubmit)="_fetchData()">
    <div class="row mb-3">
      <div class="col-md-3 col-xl-3">
        <input type="text" class="form-control form-control-sm" placeholder="Keyword"
               maxlength="100"
               formControlName="keyword">
      </div>
      <div class="col-md-3 col-xl-2 mt-2 mt-xl-0">
        <select formControlName="is_active" class="form-control form-control-sm">
          <option [value]="true">Active</option>
          <option [value]="false">Inactive</option>
        </select>
      </div>
      <div class="col-md-3 col-xl-3 mt-2 mt-xl-0">
        <button type="submit" class="btn btn-sm btn-primary px-2 px-xl-4 me-1 mx-2">Search</button>
        <button type="button" class="btn btn-sm btn-primary px-2 px-xl-4 ms-1" (click)="filterReset()">Reset</button>
      </div>
    </div>
  </form>

  <div class="table-responsive mt-4">
    <table class="table table-sm">
      <thead class="bg-soft-light">
      <tr class="th-width">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Registered Date</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableData;">
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.email}}</td>
        <td>
          <span *ngIf="row.is_active" class="badge bg-success px-1 py-1">Active</span>
          <span *ngIf="!row.is_active" class="badge bg-warning px-1">InActive</span>
        </td>
        <td>{{ row.created_at | date:'yyyy-MM-dd' }}</td>
        <td>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="row.is_active" (change)="statusChange(row)">
          </div>
        </td>

      </tr>
      <tr *ngIf="tableData <= 0">
        <td colspan="18" class="fs-7">No records found</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-sm-6">
      <span class="fs-12">Show: </span>
      <select [(ngModel)]="pageSize" (change)="_fetchData()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
      <span class="fs-12 ms-3">Entries : {{ totalRecords }}</span>
    </div>
    <div class="col-12 col-sm-6 mt-3 mt-sm-0 d-flex justify-content-end">
      <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="5" [directionLinks]="true" [autoHide]="true"></pagination-controls>
    </div>
  </div>
</div>
